# Node.js dependencies
node_modules/
package-lock.json

# VS Code settings
.vscode/

# Logs
*.log
logs/
*.tlog

# Build output
dist/
out/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Coverage reports
coverage/
.nyc_output/

# Ignore IDE-specific files
.idea/
*.iml
